@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quicksand", sans-serif;
}

div.main {
  min-height: 100vh;
  padding-bottom: 60px;
}

div.full-height {
  min-height: 100vh;
}

#section {
  margin: 0 auto;
  max-width: 960;
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 40;
}

#section-header {
  max-width: 100%;
  padding: 40px 0 40px 0;
  color: #7859ed;
}

#about {
  min-height: 100vh;
  background-color: #50c9bb;
  align-items: center;
  display: flex;
  padding: 2em;
}

#projects {
  background-color: #ffdcc8;
  color: #1d3461;
}

#about-text {
  font-size: 1.3em;
  color: #fff;
}

#skills {
  background-color: #3eaea1;
  align-items: center;
  display: flex;
  font-size: 1.3em;
  color: #fff;
  padding: 2em;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

a:hover {
  text-decoration: none;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  footer {
    display: flex;
    position: relative;
    bottom: 0;
    margin-top: -60px;
    height: 60px;
    clear: both;
    background-color: $color-primary;
    color: white;
    justify-content: center;
    width: 100%;

    span {
      align-self: center;
      text-align: center;
    }
  }
}
