@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quicksand", sans-serif;
}

div.main {
  min-height: 100vh;
  padding-bottom: 60px;
}

div.full-height {
  min-height: 100vh;
}

.row {
  align-items: center;
}

.section {
  margin: 0 auto;
  padding-top: 4em;
}

#section-header {
  max-width: 100%;
  padding: 2.5em 0 2.5em 0;
  background-color: #163737;
  color: #ffe4de;
}

#about {
  min-height: 100vh;
  background-color: #245C5C;
  align-items: center;
  display: flex;
  padding: 0 2.5em 2.5em 2.5em;
}

.about-text a {
  color: $color-light;
  text-decoration: none;
  font-weight: 200;
}

.about-text a:hover,
.about-text a:focus {
  text-decoration: underline;
}

.about-icon {
  color: #ffe4de;
  font-size: 1.8em;
  padding-right: 0.3em;
}

#projects {
  background-color: #ffe4de;
  padding-bottom: 6em;
}

.project {
  color: $color-primary;
  padding-bottom: 1em;
}

.project-icon {
  font-size: 1.8em;
  padding-right: 0.3em;
}

.project-about {
  padding-top: 1em;
}

#about-text {
  font-size: 1.3em;
  color: #fff;
}

#skills {
  background-color: $color-secondary;
  align-items: center;
  display: flex;
  font-size: 1.3em;
  color: #fff;
  padding: 2.5em;
}

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}

a {
  color: $color-primary;
  font-weight: 700;
}

a:hover {
  color: $color-primary;
  text-decoration: none;

    > .icon-link-text::after  {
    width: 100%;
  }
}

.icon-link-text {
  color: $color-primary;

  padding-right: 0.15rem;
  display: inline-block;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    border-radius: 3px;
    background: $color-accent-orange;
    transition: width 0.5s;
  } 

  &:hover::after {
    width: 100%;
  }
}

h1 {
  color: $color-light;
}

ul {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

li {
  display: inline;
  font-weight: 700;
}

#footer {
  background-color: $color-primary;
    text-align: center;
  padding: 2.5em;
  color: $color-light;
}

.footer-icon {
  color: $color-light;
}
